.main-new-blog {
  background-color: #fff;
  padding: 43px 70px;
  height: 100vh;
}
.main-new-blog form {
  width: 70%;
}

.main-new-blog h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
}
.form-label {
  font-size: 24px;
  margin-bottom: 20px;
}
