<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Blog</title>
  </head>

  <body>
    <%- include('partials/header.ejs') %>
    <div class="main container mt-5">
      <div class="main-left">
        <div class="main-title text-center">
          <h2>Блоги по программированию</h2>
          <p>
            Популярные и лучшие публикации по программированию для начинающих и
            профессиональных программистов и IT-специалистов.
          </p>
        </div>
        <div class="blogs">
          <div class="card">
            <img
              src="/image/test.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <a
                href="/blogDetail"
                class=""
                >Card title</a
              >
              <p class="">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <div class="card-info">
                <span><i class="fa-solid fa-calendar"></i>26.06.2020</span>
                <span><i class="fa-solid fa-eye"></i>21</span>
                <span><i class="fa-solid fa-comment"></i>4</span>
                <span><i class="fa-solid fa-comments"></i>Веб-разработка</span>
                <span><i class="fa-solid fa-user"></i>Nast1289</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="aside">
        <h2>Категории</h2>
        <div class="">
          <% categories.forEach(category => { %>
          <a
            class="aside-category"
            href="/<%= category.key %>"
            ><%= category.name %></a
          >
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
