.main {
  display: flex;
  justify-content: space-between;
}
.main-left {
  width: 70%;
  background-color: #fff;
  padding: 40px 65px;
}

.main-title h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 46px;
}
.main-title p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 25px 0;
}
.card-body a {
  display: block;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.card-body a:first-child::first-letter{
  text-transform: capitalize;
}
.card-body a:first-child{
  font-size: 28px;
  font-weight: 600;
}

.dropdown-menu a{
  line-height: 24px; 
}
.card-body p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0;
}
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-info i {
  margin-right: 10px;
}
.pages a{
  color: #000;
  transition: .4s;
}
.pages a:hover{
  color: #007bff;
}
.zeroBlogs{
  font-size: 40px;
  margin-top: 40px;
  text-align: center;
}